<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>number0.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,0},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,25},{14,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,25},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{18,24}</string>
			</dict>

			<key>number3.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,25},{18,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,24}}</string>
				<key>sourceSize</key>
				<string>{18,24}</string>
			</dict>

			<key>number5.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{18,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,24}}</string>
				<key>sourceSize</key>
				<string>{18,24}</string>
			</dict>

			<key>number7.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,25},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number8.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,25},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

			<key>number9.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>