<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ClubEight.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubFour.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubJack.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubKing.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubNine.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubSeven.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubSix.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubTen.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubThree.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>ClubTwo.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartEight.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartFour.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartJack.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartKing.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartNine.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartSeven.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartSix.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartTen.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartThree.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>HeartTwo.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>LJoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SJoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeEight.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeFour.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeJack.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeKing.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeNine.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeSeven.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeSix.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeTen.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeThree.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SpadeTwo.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareEight.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareFive.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareFour.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareJack.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareKing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareNine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareQueen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareSeven.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareSix.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareTen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareThree.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

			<key>SquareTwo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,104}}</string>
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>